html,
body {
  margin: 0;
  min-height: 100vh;
  background: #E1D4C9;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 40px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.Theme_switch {
  display: flex;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #C1B6AD;
  padding: 4px;
  gap: 8px;
}

.coffee-menu {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navigation__link, .coffee-menu {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #403f3d;
  text-decoration: none;
}