.hero-container {
    background-image: url("../assets/images/hero/img-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    min-height: 745px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    color: white;

    margin: 40px;
}